img{
    width: 50%;    
}

.box{
    height: 50px;
    float: left;
}

.img1{
    float: right;
}

.kutu1{
    background-color: blueviolet;
    width: 20%;
}

.kutu2{
    background-color: cadetblue;
    width: 30%;
}

.kutu3{
    background-color: rgba(255, 0, 0, 674);
    width: 40½;
    
}

.temizle{
    clear: both;
}