
h1{
    color: red;
}

/* burası yorum satırı */
#list{
    border: 2px solid red;
    list-style-type: none;
}

li{
    background-color: teal;
    margin: 5px;
    border-radius: 5px;
}

.abc{
    background-color: yellow;
}

#abc{
    background-color: blue;
    color: yellow;
}

li:hover{
    background-color: gray;
    color: darkorange;
}