#par3{
    background-color: purple;
}

h1{
    color: blue;
}

.ortak{
    background-color: olive;
}

#par5{
    background-color: orange;
    background-color: gray;
    background-color: crimson
}

#par9{
    background-color: fuchsia;
}